<div>
  <v-card
    vertical-center
    v-on:drop="loadGallery($event)"
    v-on:dragover="preventDefault($event)"
    @contextmenu.prevent="requestContextMenu"
  >
    <plotly-plot
      :ref="row+'-'+col"
      v-if="plotType === 'plotly'"
      :itemId="itemId"
      :timeAverage="timeAverage"
      :plotDataLoaded="plotDataLoaded"
      :plotXAxis="plotXAxis"
    />
    <vtk-plot
      :ref="row+'-'+col"
      v-if="plotType === 'vtk'"
      :itemId="itemId"
      :plotXAxis="plotXAxis"
    />
    <static-image
      :ref="row+'-'+col"
      v-if="plotType === 'image'"
      :itemId="itemId"
    />
    <div class="plot">
      <v-icon v-if="!plotType" large> input </v-icon>
    </div>
  </v-card>
</div>
