<div>
  <v-card
    vertical-center
    v-on:drop="loadGallery($event)"
    v-on:dragover="preventDefault($event)"
    @contextmenu.prevent="requestContextMenu"
  >
    <v-icon
      v-show="itemId && paused"
      class="clearPlot"
      v-on:click="clearGallery()"
    >
      mdi-reload
    </v-icon>
    <plotly-plot
      :ref="row+'-'+col"
      v-if="plotType === 'plotly'"
      v-bind:itemId="itemId"
    />
    <vtk-plot
      :ref="row+'-'+col"
      v-if="plotType === 'vtk'"
      v-bind:itemId="itemId"
    />
  </v-card>
</div>
