<v-dialog v-model="settingsDialog" max-width="700px">
  <v-card>
    <v-card-title>
      <span class="text-h5">Set Global Range for {{ param }}</span>
    </v-card-title>
    <v-card-text>
      <v-form>
        <v-container>
          <v-row v-bind:style="{alignItems: 'center'}">
            <v-col cols="5">
              <v-text-field
                v-model="newStart"
                type="number"
                step="0.001"
                label="Start"
                @input="checkValidity"
                :hide-details="true"
                dense
              />
            </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="newEnd"
                type="number"
                step="1"
                label="End"
                @input="checkValidity"
                :hide-details="true"
                dense
              />
            </v-col>
            <v-col
              cols="2"
              v-bind:style="{display: 'flex', justifyContent: 'flex-end'}"
            >
              <v-btn small @click="clear()">Clear</v-btn>
            </v-col>
          </v-row>
        </v-container>
        <div>
          <span
            v-if="invalidInput"
            v-bind:style="{color: 'red', fontWeight: '800'}"
          >
            Invalid Range
          </span>
        </div>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn text @click.stop="settingsDialog=false">
        Cancel
      </v-btn>
      <v-btn text :disabled="invalidInput" @click.stop="save()">
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
  