<v-data-table
  id="data-table"
  :headers-length="4"
  :value="value"
  :options="options"
  :footer-props="{'items-per-page-options': itemsPerPageOptions}"
  :items="rows"
  :server-items-length="serverItemsLength"
  :loading="loading ? 'accent' : false"
  class="girder-data-table"
  show-select="show-select"
  hide-default-header="hide-default-header"
  item-key="_id"
  @input="$emit('input', $event)"
  @update:options="$emit('update:options', $event)"
>
  <template #header="vDataTableHeaderProps">
    <slot v-bind="vDataTableHeaderProps" name="header" />
  </template>
  <template #item="props">
    <tr
      :id="props.item._id"
      :key="props.item._id"
      :draggable="draggable"
      :active="props.isSelected"
      :class="getRowClass(props.item)"
      class="itemRow"
      :style="selectedPlot(props.item._id)"
      @click="handleRowSelect($event, props)"
      @drag="emitDrag('drag', $event, [props])"
      @dragstart="emitDrag('dragstart', $event, [props])"
      @dragend="emitDrag('dragend', $event, [props])"
    >
      <td v-if="selectable" class="pl-3 pr-0">
        <v-checkbox
          :input-value="props.isSelected"
          accent="accent"
          hide-details="hide-details"
          @change="props.select"
        />
      </td>
      <td
        class="pl-3"
        colspan="2"
        @contextmenu="$emit('row-right-click', props.item, $event)"
      >
        <span
          :class="getItemClass(props.item)"
          class="text-container nobreak"
          @click.stop="$emit('rowclick', props.item)"
        >
          <v-icon :color="props.isSelected ? 'accent' : ''" class="pr-2"
            >{{ $vuetify.icons.values[props.item.icon] }}</v-icon
          >
          <slot v-bind="props" name="row"> {{ props.item.name }} </slot>
        </span>
      </td>
      <td class="text-right nobreak">{{ props.item.humanSize }}</td>
    </tr>
  </template>
  <template #no-data="">
    <div class="text-center" width="100%">No Data Available</div>
  </template>
  <template #no-results="">
    <div class="text-center" width="100%">No Data Available</div>
  </template>
</v-data-table>
