<div>
  <v-menu
    v-model="showMenu"
    :position-x="pos[0]"
    :position-y="pos[1]"
    absolute
    offset-y
  >
    <v-card style="padding: 5px">
      <v-list>
        <v-list-item dense @click="showRangeDialog=true">
          <v-list-item-title> Set global range </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list>
        <v-list-item dense @click="fetchImage('png')">
          <v-list-item-title> Save Image as PNG </v-list-item-title>
        </v-list-item>
        <v-list-item dense @click="fetchImage('pdf')">
          <v-list-item-title> Save Image as PDF </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider />
      <v-list>
        <v-list-item dense @click="fetchMovie('mp4')">
          <v-list-item-title> Download Movie as MP4 </v-list-item-title>
        </v-list-item>
        <v-list-item dense @click="fetchMovie('mpg')">
          <v-list-item-title> Download Movie as MPG </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
  <range-dialog
    :visible="showRangeDialog"
    :param="parameter"
    @close="showRangeDialog=false"
  />
  <div class="notifications">
    <v-snackbar
      v-model="requests"
      v-for="(r, i) in requested"
      :key="r.uuid"
      timeout="-1"
      absolute
      bottom
      right
      vertical
      color="info"
      v-bind:style="{marginBottom: calcMargin(i, 0)}"
    >
      <div>
        Generating {{ r.type }} for
        <vue-mathjax :formula="r.name" :options="mathJaxOptions" />
        <v-btn color="white" text @click="dismiss(i, 0)"> Dismiss </v-btn>
      </div>
      <v-progress-linear
        indeterminate
        background-color="blue-grey"
        color="white"
      />
    </v-snackbar>
    <v-snackbar
      v-model="failures"
      v-for="(f, i) in failed"
      :key="f.uuid"
      timeout="3000"
      absolute
      bottom
      right
      color="error"
      v-bind:style="{marginBottom: calcMargin(i, 1)}"
    >
      {{ f.type }} Download Failed for
      <vue-mathjax :formula="f.name" :options="mathJaxOptions" />
      <v-btn color="black" text @click="dismiss(i, 1)"> Dismiss </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="completions"
      v-for="(c, i) in completed"
      :key="c.uuid"
      timeout="3000"
      absolute
      bottom
      right
      color="success"
      v-bind:style="{marginBottom: calcMargin(i, 2)}"
    >
      {{ c.type }} Download Completed for
      <vue-mathjax :formula="c.name" :options="mathJaxOptions" />
      <v-btn color="white" text @click="dismiss(i, 2)"> Dismiss </v-btn>
    </v-snackbar>
  </div>
</div>
