<div>
  <v-menu
    v-model="showMenu"
    :position-x="pos[0]"
    :position-y="pos[1]"
    absolute
    offset-y
    :style="{minWidth: '150px'}"
  >
    <v-card style="padding: 5px">
      <v-list v-if="itemInfo && isPlotly">
        <v-list-item dense @click="showRangeDialog=true">
          <v-list-item-title> Set global range </v-list-item-title>
        </v-list-item>
        <v-list-item dense @click="toggleLogScale">
          <v-list-item-title>
            {{logScaling ? "Clear" : "Apply"}} log scaling
          </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider v-if="itemInfo && isPlotly" />
      <v-list>
        <v-list-item dense @click="clearGallery()">
          <v-list-item-title> Clear Plot </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider v-if="canAverage()" />
      <v-list v-if="canAverage()">
        <v-list-item dense @click="averageDialog=true">
          <v-list-item-title> Average Over Time </v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider v-if="!averaging && !isStaticImage" />
      <v-menu
        open-on-hover
        offset-y
        :position-x="offsetPos[0]"
        :position-y="offsetPos[1]"
        absolute
        v-if="!averaging && !isStaticImage"
      >
        <template v-slot:activator="{ on, attrs }">
          <div v-bind="attrs" v-on="on">
            <v-list>
              <v-list-item dense>
                <v-list-item-title> Save... </v-list-item-title>
              </v-list-item>
            </v-list>
          </div>
        </template>
        <v-card style="padding: 5px">
          <v-list>
            <v-list-item dense @click="fetchRaw('bp')">
              <v-list-item-title> Download Raw Data </v-list-item-title>
            </v-list-item>
          </v-list>
          <v-divider />
          <v-list>
            <v-list-item dense @click="fetchImage('png')">
              <v-list-item-title> Save PNG Image </v-list-item-title>
            </v-list-item>
            <v-list-item dense @click="fetchImage('pdf')">
              <v-list-item-title> Save PDF Image </v-list-item-title>
            </v-list-item>
          </v-list>
          <v-divider />
          <v-list>
            <v-list-item dense @click="fetchMovie('mp4', useDefault=true)">
              <v-list-item-title> Save MP4 Movie </v-list-item-title>
            </v-list-item>
            <v-list-item dense @click="fetchMovie('mpg', useDefault=true)">
              <v-list-item-title> Save MPG Movie </v-list-item-title>
            </v-list-item>
          </v-list>
          <v-divider />
          <v-list>
            <v-list-item dense @click="downloadOptions()">
              <v-list-item-title> Save As... </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-card>
  </v-menu>
  <range-dialog
    :visible="showRangeDialog"
    :param="parameter"
    :id="itemInfo ? itemInfo.id : ''"
    :plotType="itemInfo?.plotType"
    @close="showRangeDialog=false"
  />
  <download-options
    :param="parameter"
    :id="itemInfo ? itemInfo.id : ''"
    :fetchImages="fetchImages"
    :fetchMovie="fetchMovie"
  />
  <v-snackbar v-model="downloading" timeout="-1" absolute bottom right>
    <v-navigation-drawer stateless value="true">
      <v-list>
        <v-list-group value="true">
          <template v-slot:activator>
            <v-list-item>
              <v-list-item-title>Downloads</v-list-item-title>
            </v-list-item>
          </template>
          <v-list-item v-for="d in downloads" :key="d.uuid">
            <v-list-item-title>
              <vue-mathjax :formula="d.name" :options="mathJaxOptions" />
              {{d.type}} download {{d.status}}.
            </v-list-item-title>
            <v-list-item-action>
              <v-progress-circular
                v-if="d.status === 'in progress'"
                indeterminate
              />
              <v-icon v-if="d.status === 'failed'" color="error">
                mdi-alert-circle-outline
              </v-icon>
              <v-icon v-if="d.status === 'complete'" color="success">
                mdi-check-circle-outline
              </v-icon>
            </v-list-item-action>
            <v-list-item-action>
              <v-icon v-on:click="dismiss"> mdi-close </v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
  </v-snackbar>
  <v-dialog v-model="averageDialog" max-width="300px">
    <v-card>
      <v-card-title style="justify-content: center">Time Average</v-card-title>
      <v-card-text>
        <v-form>
          <v-container>
            <v-row v-bind:style="{alignItems: 'center'}">
              <v-col cols="12">
                <v-text-field
                  v-model="range"
                  type="number"
                  step="1"
                  label="Range (n)"
                  persistent-hint
                  :hint="`Average the next (n) time steps together.`"
                  dense
                  @keydown.enter.prevent="useAverage(clear=false)"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click.stop="averageDialog=false"> Cancel </v-btn>
        <v-spacer />
        <v-btn
          text
          :disabled="invalidInput"
          @click.stop="useAverage(clear=true)"
        >
          Clear
        </v-btn>
        <v-btn
          text
          :disabled="invalidInput"
          @click.stop="useAverage(clear=false)"
        >
          Apply
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
