<v-col>
  <v-row>
    <v-col :sm="3" v-bind:style="{alignItems: 'center'}">
      <v-tooltip top>
        <template v-slot:activator="{on, attrs}">
          <v-btn-toggle v-model="zoomSync" borderless rounded>
            <v-btn icon v-on:click="toggleSyncZoom">
              <v-icon v-on="on" v-bind="attrs">
                mdi-table-sync
              </v-icon>
            </v-btn>
          </v-btn-toggle>
        </template>
        <span>Sync Plot Zoom</span>
      </v-tooltip>
    </v-col>
    <v-col :sm="3" v-bind:style="{alignItems: 'center'}">
      <v-tooltip top>
        <template v-slot:activator="{on, attrs}">
          <v-btn icon v-on:click="loadView()">
            <v-icon
              v-on="on"
              v-bind="attrs"
            >
              mdi-view-grid-outline
            </v-icon>
          </v-btn>
        </template>
        <span>Load View</span>
      </v-tooltip>
    </v-col>
    <v-col :sm="3" v-bind:style="{alignItems: 'center'}">
      <v-tooltip top>
        <template v-slot:activator="{on, attrs}">
          <v-btn icon @click.stop="saveView()">
            <v-icon v-on="on" v-bind="attrs">
              mdi-view-grid-plus-outline
            </v-icon>
          </v-btn>
        </template>
      <span>Save View</span>
      </v-tooltip>
    </v-col>
    <v-col :sm="3" v-bind:style="{alignItems: 'center'}">
      <v-tooltip top>
        <template v-slot:activator="{on, attrs}">
          <v-btn icon v-on:click="girderRest.logout()">
            <v-icon v-on="on" v-bind="attrs">
              $vuetify.icons.logout
            </v-icon>
          </v-btn>
        </template>
      <span>Logout</span>
      </v-tooltip>
    </v-col>
    <save-dialog
      :layout="imageGallery"
      @close="setSaveDialogVisible(false)"
    />
    <load-dialog @close="setLoadDialogVisible(false)"/>
  </v-row>
  <v-row v-if="lastSaved">
    <span v-bind:style="{fontSize: 'small', opacity: '0.5'}">
      View Autosaved: {{ new Date(lastSaved).toLocaleTimeString() }}
    </span>
  </v-row>
</v-col>
