<v-dialog v-model="saveDialog" max-width="600px">
  <v-card>
    <v-card-title>
      <span class="text-h5">Save Current View</span>
    </v-card-title>
    <v-card-text>
      <v-form>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="newViewName"
                label="Name"
                :rules="[rules.required, rules.unique]"
                @keydown.enter="checkForOverwrite"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" align-self="end">
              <v-radio-group v-model="visibility" mandatory row>
                <v-radio label="Public View" value="public" />
                <v-radio label="Private View" value="private" />
              </v-radio-group>
            </v-col>
          </v-row>
        </v-container>
        <v-dialog persistent v-model="dialogOverwrite" max-width="450px">
          <v-card>
            <v-card-title class="text-h5"
              >A view with this name already exists, are you sure you'd like to
              overwrite it?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text @click="dialogOverwrite=false">Cancel</v-btn>
              <v-btn text @click="save(false)">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn text @click.stop="setShowSaveDialog(false)"> Close </v-btn>
      <v-btn text @click.stop="checkForOverwrite"> Save </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
