<v-app class="app">
  <v-dialog :value="loggedOut" persistent max-width="600px">
    <girder-authentication
      :register="true"
      :oauth="false"
      :forgot-password-url="forgotPasswordUrl"
    />
  </v-dialog>
  <context-menu />
  <splitpanes @resize="adjustRenderWindowWidth">
    <pane min-size="15" :size="25">
      <v-row v-bind:style="{height: '100vh'}">
        <!-- Navigation panel on the left. -->
        <v-col v-bind:style="{padding: '0 10px'}">
          <!-- Girder data table browser. -->
          <div class="girder-placeholder" v-if="!location" />
          <div>
            <v-tooltip
              right
              light
              v-if="range"
              :value="range"
              :position-x="pos[0]"
              :position-y="pos[1]"
            >
              <span v-if="range">{{range}}</span>
            </v-tooltip>
          </div>
          <girder-file-manager
            ref="girderFileManager"
            v-if="location && !showSettings"
            v-on:mouseover.native="hoverIn($event)"
            v-on:mouseout.native="hoverOut"
            :location.sync="location"
            :selectable="false"
            :drag-enabled="true"
          />
          <!--- Settings Panel -->
          <settings-panel v-if="showSettings" :plots.sync="$refs.plots" />
          <!-- Playback controls. -->
          <v-container
            v-if="!showSettings"
            :fluid="true"
            class="playback-controls"
            v-on:mouseover="hoverOut"
          >
            <v-row class="ma-0 pa-0" :style="{height: '25px'}">
              <v-slider
                dense
                hide-details
                :min="minTimeStep"
                :max="maxTimeStep"
                :disabled="!dataLoaded"
                :value="sliderValue"
                @change="updateTimeStep"
              >
                <template v-slot:prepend>
                  <v-icon
                    v-on:click="decrementTimeStep(true)"
                    :disabled="!dataLoaded || currentTimeStep === minTimeStep"
                  >
                    arrow_back_ios
                  </v-icon>
                </template>
                <template v-slot:append>
                  <v-icon
                    v-on:click="incrementTimeStep(true)"
                    :disabled="!dataLoaded || currentTimeStep === maxTimeStep"
                  >
                    arrow_forward_ios
                  </v-icon>
                </template>
              </v-slider>
            </v-row>
            <v-row class="ma-0 pa-0" :style="{height: '25px'}">
              <v-col :sm="4">
                <v-text-field
                  dense
                  hide-details
                  filled
                  type="number"
                  min="minTimeStep"
                  :max="maxTimeStep"
                  :disabled="!dataLoaded"
                  :value="currentTimeStep"
                  @change="(e) => {updateTimeStep(e.target.value)}"
                >
                  <template>
                    <v-icon
                      slot="prepend"
                      v-show="paused"
                      v-on:click="togglePlayPause"
                      :disabled="!dataLoaded"
                    >
                      &#9654;
                    </v-icon>
                    <v-icon
                      slot="prepend"
                      v-show="!paused"
                      v-on:click="togglePlayPause"
                      :disabled="!dataLoaded"
                    >
                      &#9208;
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row class="ma-0 pa-0" :style="{height: '25px'}">
              <v-col :sm="6">
                <v-row class="align-center justify-space-evenly">
                  <v-icon v-on:click="removeRow()" :disabled="numrows < 2">
                    remove_circle_outline
                  </v-icon>
                  <span> rows </span>
                  <v-icon v-on:click="addRow()" :disabled="numrows > 7">
                    add_circle_outline
                  </v-icon>
                </v-row>
              </v-col>
              <v-col :sm="6">
                <v-row class="align-center justify-space-evenly">
                  <v-icon v-on:click="removeColumn()" :disabled="numcols < 2">
                    remove_circle_outline
                  </v-icon>
                  <span> cols </span>
                  <v-icon v-on:click="addColumn()" :disabled="numcols > 7">
                    add_circle_outline
                  </v-icon>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="ma-0 pa-0" :style="{height: '25px'}">
              <v-col class="align-center">
                <v-tooltip top>
                  <template v-slot:activator="{on, attrs}">
                    <v-btn
                      small
                      elevation="0"
                      :style="{width: 'inherit'}"
                      v-on:click="toggleShowSettings()"
                    >
                      <v-icon v-on="on" v-bind="attrs"> mdi-cog </v-icon>
                    </v-btn>
                  </template>
                  <span>Settings</span>
                </v-tooltip>
              </v-col>
            </v-row>
            <v-row
              v-show="lastSaved"
              :style="{height: '5px', alignContent: 'start'}"
            >
              <span v-bind:style="{fontSize: 'small', opacity: '0.5'}">
                View Autosaved: {{ new Date(lastSaved).toLocaleTimeString() }}
              </span>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </pane>
    <!-- Scientific data on the right. -->
    <pane
      id="mainContent"
      min-size="50"
      :size="85"
      class="main-content"
      v-on:mouseover.native="hoverOut"
    >
      <!-- image gallery grid. -->
      <render-window ref="renderWindow" id="renderWindow" class="plots" />
      <v-container v-bind:style="{padding: '0', maxWidth: '100%'}">
        <template v-for="i in numrows">
          <v-row v-bind:key="i">
            <template v-for="j in numcols">
              <v-col
                v-bind:key="j"
                v-bind:style="{ width: cellWidth, height: cellHeight, padding: '0' }"
              >
                <plots
                  ref="plots"
                  v-bind:style="{padding: '0 0 0 3px', height: 'inherit'}"
                  v-bind:class="[paused ? 'show-toolbar' : 'hide-toolbar']"
                  v-bind:row="i"
                  v-bind:col="j"
                />
              </v-col>
            </template>
          </v-row>
        </template>
      </v-container>
    </pane>
  </splitpanes>
  <v-dialog v-model="autoSavedViewDialog" persistent max-width="300">
    <v-card>
      <v-card-title class="headline">Load auto-saved view?</v-card-title>
      <v-card-text
        >An auto-saved view has been found for this run. Would you like to load
        it now?</v-card-text
      >
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click.stop="setAutoSavedViewDialog(false)">Cancel</v-btn>
        <v-btn text @click.stop="loadAutoSavedView">Load View</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-app>
