<v-app class="app">
  <v-dialog :value="loggedOut" persistent max-width="600px">
    <girder-authentication
      :register="true"
      :oauth="false"
      :forgot-password-url="forgotPasswordUrl"
    />
  </v-dialog>
  <context-menu />
  <v-btn
    v-if="drawerCollapsed"
    @click="toggleDrawer"
    fab
    small
    class="d-flex justify-center ma-0 pa-0 grey--text text--darken-2 secondary lighten-5"
    :style="{position: 'absolute', zIndex: 1}"
  >
    <v-icon>mdi-menu</v-icon>
  </v-btn>
  <splitpanes @resize="adjustRenderWindowWidth" :dbl-click-splitter="false">
    <pane v-if="!drawerCollapsed" min-size="15" :size="25" id="navPanel">
      <v-row v-bind:style="{height: '100vh'}" class="my-0">
        <!-- Navigation panel on the left. -->
        <v-col class="py-0 px-3">
          <!-- Girder data table browser. -->
          <div class="girder-placeholder" v-if="!location" />
          <girder-file-manager
            ref="girderFileManager"
            v-if="location && !showSettings"
            :location.sync="location"
            :selectable="false"
            :drag-enabled="true"
          />
          <!--- Settings Panel -->
          <settings-panel
            v-if="location && showSettings"
            :plots.sync="$refs.plots"
          />
          <!-- Playback controls. -->
          <v-card class="playback-controls" flat outlined tile>
            <v-row class="mx-0 my-1 pa-0" style="height: 25px">
              <v-slider
                dense
                hide-details
                :min="minTimeStep"
                :max="maxTimeStep"
                :disabled="!dataLoaded"
                :value="sliderValue"
                @change="updateTimeStep"
              >
                <template v-slot:prepend>
                  <v-icon
                    v-on:click="decrementTimeStep(true)"
                    :disabled="!dataLoaded || currentTimeStep === minTimeStep"
                  >
                    arrow_back_ios
                  </v-icon>
                </template>
                <template v-slot:append>
                  <v-icon
                    v-on:click="incrementTimeStep(true)"
                    :disabled="!dataLoaded || currentTimeStep === maxTimeStep"
                  >
                    arrow_forward_ios
                  </v-icon>
                </template>
              </v-slider>
            </v-row>
            <v-row class="mx-0 my-1 pa-0" style="height: 25px">
              <v-col :sm="4">
                <v-text-field
                  dense
                  hide-details
                  filled
                  type="number"
                  min="minTimeStep"
                  :max="maxTimeStep"
                  :disabled="!dataLoaded"
                  :value="currentTimeStep"
                  @change="updateTimeStep"
                  style="min-width: 110px"
                >
                  <template>
                    <v-icon
                      slot="prepend"
                      v-show="paused"
                      v-on:click="togglePlayPause"
                      :disabled="!dataLoaded"
                    >
                      &#9654;
                    </v-icon>
                    <v-icon
                      slot="prepend"
                      v-show="!paused"
                      v-on:click="togglePlayPause"
                      :disabled="!dataLoaded"
                    >
                      &#9208;
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-0 mt-4 mb-0 pa-0" style="height: 25px">
              <v-col :sm="6">
                <v-row class="align-center justify-space-evenly">
                  <v-icon v-on:click="removeRow()" :disabled="numrows < 2">
                    remove_circle_outline
                  </v-icon>
                  <span> rows </span>
                  <v-icon v-on:click="addRow()" :disabled="numrows > 7">
                    add_circle_outline
                  </v-icon>
                </v-row>
              </v-col>
              <v-col :sm="6">
                <v-row class="align-center justify-space-evenly">
                  <v-icon v-on:click="removeColumn()" :disabled="numcols < 2">
                    remove_circle_outline
                  </v-icon>
                  <span> cols </span>
                  <v-icon v-on:click="addColumn()" :disabled="numcols > 7">
                    add_circle_outline
                  </v-icon>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mx-0 my-1 pa-0" style="height: 25px">
              <v-col class="align-center">
                <v-tooltip top>
                  <template v-slot:activator="{on, attrs}">
                    <v-btn
                      small
                      elevation="0"
                      :style="{width: 'inherit'}"
                      v-on:click="toggleShowSettings()"
                    >
                      <v-icon v-on="on" v-bind="attrs">
                        {{showSettings ? "mdi-arrow-left" : "mdi-cog"}}
                      </v-icon>
                    </v-btn>
                  </template>
                  <span>{{showSettings ? "Data Selection" : "Settings"}}</span>
                </v-tooltip>
              </v-col>
            </v-row>
            <v-row
              v-show="lastSaved"
              class="mx-0 my-1 pa-0"
              style="height: 25px"
            >
              <span v-bind:style="{fontSize: 'small', opacity: '0.5'}">
                View Autosaved: {{ new Date(lastSaved).toLocaleTimeString() }}
              </span>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </pane>
    <!-- Scientific data on the right. -->
    <pane id="mainContent" min-size="50" :size="85" class="main-content">
      <!-- image gallery grid. -->
      <render-window ref="renderWindow" id="renderWindow" class="plots" />
      <v-container v-bind:style="{padding: '0', maxWidth: '100%'}">
        <template v-for="i in numrows">
          <v-row v-bind:key="i">
            <template v-for="j in numcols">
              <v-col
                v-bind:key="j"
                v-bind:style="{ width: cellWidth, height: cellHeight, padding: '0' }"
              >
                <plots
                  ref="plots"
                  class="pa-0"
                  v-bind:style="{height: 'inherit'}"
                  v-bind:row="i"
                  v-bind:col="j"
                />
              </v-col>
            </template>
          </v-row>
        </template>
      </v-container>
    </pane>
  </splitpanes>
  <v-dialog v-model="autoSavedViewDialog" persistent max-width="300">
    <v-card>
      <v-card-title class="headline">Load auto-saved view?</v-card-title>
      <v-card-text
        >An auto-saved view has been found for this run. Would you like to load
        it now?</v-card-text
      >
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click.stop="setAutoSavedViewDialog(false)">Cancel</v-btn>
        <v-btn text @click.stop="loadAutoSavedView">Load View</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-app>
