<v-app class="app">
  <v-dialog :value="loggedOut" persistent max-width="600px">
    <girder-authentication :register="true"
                 :oauth="false"
                 :forgot-password-url="forgotPasswordUrl" />
  </v-dialog>
  <v-menu v-model="showMenu"
          :position-x="pos[0]"
          :position-y="pos[1]"
          absolute
          offset-y>
    <v-list>
      <v-list-item dense @click="fetchMovie">
        <v-list-item-title>
          Download Movie for {{ parameter }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item dense @click="showRangeDialog=true">
        <v-list-item-title v-if="paramIsJson">
          Set global range for {{ parameter }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
  <range-dialog
    :visible="showRangeDialog"
    :param="parameter"
    @close="showRangeDialog=false"
  />
  <splitpanes>
    <pane min-size="15" :size="25">
      <v-row v-bind:style="{height: '100vh'}">
        <!-- Navigation panel on the left. -->
        <v-col v-bind:style="{padding: '0 10px'}">
          <!-- Girder data table browser. -->
          <div class="girder-placeholder" v-if="!location" />
          <div>
            <v-tooltip right light
                       v-if="range"
                       :value="range"
                       :position-x="pos[0]"
                       :position-y="pos[1]">
              <span v-if="range">{{range}}</span>
            </v-tooltip>
          </div>
          <girder-file-manager ref="girderFileManager"
                               v-if="location"
                               v-on:mouseover.native="hoverIn($event)"
                               v-on:mouseout.native="hoverOut"
                               :location.sync="location"
                               :selectable="false"
                               :drag-enabled="true" />
          <!-- Playback controls. -->
          <v-container :fluid="true" class="playback-controls"
                       v-on:mouseover="hoverOut">
            <v-row>
              <v-col :sm="1" class="text-xs-center">
                <v-icon v-on:click="decrementTimeStep(true)"
                        :disabled="!dataLoaded"> arrow_back_ios </v-icon>
              </v-col>
              <v-col :sm="10">
                <v-slider v-model="currentTimeStep"
                          :min="1"
                          :max="maxTimeStep"
                          :disabled="!dataLoaded"
                          height="1px" />
              </v-col>
              <v-col :sm="1" class="text-xs-center">
                <v-icon v-on:click="incrementTimeStep(true)"
                        :disabled="!dataLoaded"> arrow_forward_ios </v-icon>
              </v-col>
            </v-row>
            <v-row v-bind:style="{alignItems: 'baseline'}">
              <v-col :sm="6" class="text-xs-center">
                <v-icon v-show="paused"
                        v-on:click="togglePlayPause"
                        :disabled="!dataLoaded"> &#9654; </v-icon>
                <v-icon v-show="!paused"
                        v-on:click="togglePlayPause"
                        :disabled="!dataLoaded"> &#9208; </v-icon>
              </v-col>
              <v-col :sm="6" class="text-xs-center">
                <input v-model="currentTimeStep"
                       type="number"
                       min="1"
                       :max="maxTimeStep"
                       size="4"
                       :disabled="!dataLoaded">
              </v-col>
            </v-row>
            <v-row>
              <v-col :sm="2">
                <v-icon v-on:click="removeRow()"
                        :disabled="numrows < 2"> remove_circle_outline </v-icon>
              </v-col>
              <v-col :sm="2">
                <span> rows </span>
              </v-col>
              <v-col :sm="2">
                <v-icon v-on:click="addRow()"
                        :disabled="numrows > 7"> add_circle_outline </v-icon>
              </v-col>
            </v-row>
            <v-row>
              <v-col :sm="2">
                <v-icon v-on:click="removeColumn()"
                        :disabled="numcols < 2"> remove_circle_outline </v-icon>
              </v-col>
              <v-col :sm="2">
                <span> cols </span>
              </v-col>
              <v-col :sm="2">
                <v-icon v-on:click="addColumn()"
                        :disabled="numcols > 7"> add_circle_outline </v-icon>
              </v-col>
            </v-row>
            <view-controls
              :imageGallery.sync="$refs.imageGallery"
              :numrows.sync="numrows"
              :numcols.sync="numcols"
              :lastSaved.sync="lastSaved"
              :step.sync="currentTimeStep"
              :simulation.sync="simulation"
              :run.sync="run_id"
            />
          </v-container>
        </v-col>
      </v-row>
    </pane>
    <!-- Scientific data on the right. -->
    <pane min-size="50" :size="85"
          class="main-content"
          v-on:mouseover.native="hoverOut">
      <!-- image gallery grid. -->
      <v-container v-bind:style="{padding: '0', maxWidth: '100%'}">
        <template v-for="i in numrows">
          <v-row v-bind:key="i">
            <template v-for="j in numcols">
              <v-col v-bind:key="j"
                     v-bind:style="{ width: cellWidth, height: cellHeight, padding: '0' }">
                <image-gallery ref="imageGallery"
                              :currentTimeStep.sync="currentTimeStep"
                              :maxTimeStep.sync="maxTimeStep"
                              :numrows.sync="numrows"
                              :numcols.sync="numcols"
                              v-bind:globalRanges="globalRanges"
                              v-bind:style="{padding: '0 0 0 3px'}"
                              v-bind:class="[paused ? 'show-toolbar' : 'hide-toolbar']"
                              v-bind:row="i"
                              v-bind:col="j" />
              </v-col>
            </template>
          </v-row>
        </template>
      </v-container>
    </pane>
  </splitpanes>
  <div>
    <v-snackbar
      v-model="movieRequested"
      :color="green"
      :timeout="5000"
      bottom
      right
    >
      Movie Download Requested
    </v-snackbar>
    <v-snackbar
      v-model="generationFailed"
      :color="red"
      :timeout="5000"
      bottom
      right
    >
      Movie Generation Failed
    </v-snackbar>
  </div>
  <v-dialog v-model="loadAutoSavedViewDialog" persistent max-width="300">
    <v-card>
      <v-card-title class="headline">Load auto-saved view?</v-card-title>
      <v-card-text>An auto-saved view has been found for this run. Would you like to load it now?</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click.stop="loadAutoSavedViewDialog = false">Cancel</v-btn>
        <v-btn text @click.stop="loadAutoSavedView">Load View</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-app>
