div.controls button {
  margin: auto;
  display: block;
  outline: 0;
  span {
    font-size: 20px;
  }
}

// Used to align the "Drop here" icon
.vertical-center {
  display: flex;
  align-items: center;
}

.v-card * {
  height: 100%;
}

// Make text smaller in the data browser.
table.v-table tbody td {
  font-size: 0.8rem;
}

// Scroll horizontal scrollbar for gallery grid.
.main-content {
  overflow-x: scroll;
}

// Girder browser takes up 80% of the left column
// and shows a scrollbar when necessary.
.girder-data-table {
  height: 80vh;
  overflow: auto;
}
.girder-placeholder {
  height: 80vh;
}

// Playback controls take up 20% of the left column.
.playback-controls {
  height: 20vh;
}

// Hide disk space indicator in girder data table.
.girder-data-table {
  .v-datatable {
    tbody {
      tr {
        td.secondary--text {
          display: none;
        }
      }
    }
  }
}
